.gridjs-thead > tr > th:last-child,
.gridjs-tbody > tr > td:last-child {
   text-align: center;
   width: 6%;
}
.gridjs-table > .gridjs-tbody > tr > td:last-child > span > input.jsgrid-edit-button {
   background-position: -2px -122px;
   width: 22px;
   height: 22px;
}
.gridjs-table > .gridjs-tbody > tr > td:last-child > span > input.jsgrid-delete-button {
   background-position: 0 -78px;
   width: 22px;
   height: 22px;
}
.jsgrid-button {
   border: none;
   background-image: url(../images/js-grid.png);
   background-repeat: no-repeat;
   background-color: transparent;
}
